{%extends "gadgets/base.html"%}
{% block content%}
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Tool-Kit</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <a href="{% url 'gadgets-about' %}" class="btn btn-primary btn-lg">About Us</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-6 col-md-6 mb-6">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-6">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

	<!--put {{data.variablename}} in order to get vars-->
	<!--put {% for datas in data %}-->
	<!--make sure to put {% endfor %} in order to end for loops and other stuff-->
{% endblock content %}
